@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* ===============================Randm Rats====================================== */
.rat_bg {
  background: url(./assets/png/bg_mouse.png);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.color_red {
  color: #f61529;
}

.radius_69 {
  border-radius: 69.841px;
}
.bg_pink {
  background-color: rgba(246, 21, 41, 1);
}
.curser_pointer {
  cursor: pointer;
}
@media (min-width: 1200px) {
  .vh_100 {
    height: 100vh;
  }
}
@media (max-width: 576px) {
  .w_sm_100 {
    width: 35px;
    height: 30px;
  }
}
@media (max-width: 768px) {
  .overflow_x_scroll {
    overflow-x: scroll;
  }
}
