:root {
  --fs-xl: 85px;
  --fs-lg: 37.058px;
  --fs-md: 20px;
  --fs-sm: 16px;
  --fs-xsm: 15px;
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_xsm {
  font-size: var(--fs-xsm);
}
.ff_mono {
  font-family: "IBM Plex Mono";
}
.ff_press {
  font-family: "Press Start 2P";
}

/* @media(max-width:1400px){
  :root {
  --fs-xl: 50px;
  --fs-lg: 27.058px;
  --fs-md: 15px;
  --fs-sm: 16px;
  --fs-xsm: 15px;
}
} */